# Environments
.env
.env.*
.venv
venv/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Databases and backup
*.db
*.sqlite3
bckup/

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and Editors
.vscode/
.idea/

# MacOS
.DS_Storetmp/
.DS_Store/
