{% extends 'base.html' %}

{% block content %}
    <h2>Editează Produs Generic</h2>
    <form method="POST" action="{{ url_for('produse.edit_produs', produs_id=produs.ID_Produs) }}">
        <label for="nume_generic">Nume Generic Produs:</label><br>
        <input type="text" id="nume_generic" name="nume_generic" value="{{ produs.Nume_Generic }}" required><br><br>
        
        <label for="specificatii">Specificații Tehnice:</label><br>
        <textarea id="specificatii" name="specificatii" rows="5">{{ produs.Specificatii_Tehnice }}</textarea><br><br>
        
        <label for="unitate_masura">Unitate de Măsură:</label><br>
        <input type="text" id="unitate_masura" name="unitate_masura" value="{{ produs.Unitate_Masura }}"><br><br>

        <label for="id_categorie">Categorie:</label><br>
        <select id="id_categorie" name="id_categorie" required>
            <option value="">-- Selectează o categorie --</option>
            {% for categorie in categorii %}
                <option value="{{ categorie.ID_Categorie }}" {% if categorie.ID_Categorie == produs.ID_Categorie %}selected{% endif %}>{{ categorie.Nume_Categorie }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Salvează Modificările</button>
    </form>
{% endblock %}

