{% extends 'base.html' %}

{% block content %}
<h2>Înregistrare Utilizator Nou</h2>
<form method="POST" action="{{ url_for('auth.register') }}">
    <label for="username">Nume Utilizator:</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">Parolă:</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <button type="submit">Înregistrează-te</button>
</form>
<p>Ai deja cont? <a href="{{ url_for('auth.login') }}">Autentifică-te aici</a>.</p>
{% endblock %}